@import '../../variables.scss';

.button {
  display: block;
  background: #fff;
  color: #333;
  border: 2px solid #333;
  box-shadow: inset 0 0 0 1px #fff;
  padding: 10px 20px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin: auto;
  cursor: pointer;

  &:hover {
    background: orange;
    color: #fff;
  }
}

.header {
  text-align: center;
  padding: 100px 0px;
  background-image: url('https://st2.depositphotos.com/3354961/11818/i/950/depositphotos_118182216-stock-photo-orange-purple-blurred-abstract-background.jpg');
  background-position-x: center;
  background-position-y: -200px;
  transition: background-position-y 0.3s;
  border-bottom: 1px solid #fff;
  height: 202px;

  @media only screen and (min-width: $tabletLandscape) {
    padding: 50px 0px;
    height: auto;
  }

  h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: #fff;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin: auto;
    width: 200px;
  }

  p {
    color: #fff;
    opacity: 0.5;
    width: 200px;
    font-weight: 100;
    margin: auto;
    margin-top: 2px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }

  a {
    margin-top: 20px;

    @media only screen and (min-width: $tabletLandscape) {
      display: none;
    }
  }
}
