@import '~normalize.css/normalize.css';
@import '~reset-css/reset.css';
@import './variables.scss';

body {
  font-family: 'Ubuntu', sans-serif;
  background: #fff;
  transition: width 0.3s;

  @media only screen and (min-width: $tabletPortrait) {
    width: 600px;
    margin: auto;
  }

  @media only screen and (min-width: $tabletLandscape) {
    width: 800px;
  }

  @media only screen and (min-width: $desktop) {
    width: 1200px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Josefin Sans', sans-serif;
  }
}
